main {
  margin-top: 150px;
}

.filter-search {
  background-color: #f1f2f2;
  text-align: center;
}

.filter-search h1 {
  color: gray;
  font-size: 1.35rem;
  padding-top: 10px;
}

.forms-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forms-group form {
  width: 20%;
  padding: 10px 10px 50px 10px;
  text-align: left;
}

.forms-group form label {
  display: block;
  padding: 20px 0;
}

.forms-group form input {
  width: 95%;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.forms-group form select {
  width: 100%;
  height: 34px;
  font-size: 18px;
  padding: 3px;
}

.forms-group form .btn {
  height: 34px;
  color: #f1f2f2;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
}

.forms-group form .search {
  background-color: #0043a4;
  margin-right: 10px;
}

.forms-group form .clear {
  background-color: #ffc11e;
}

@media screen and (max-width: 1024px) {
  .forms-group form {
    width: 16%;
  }
  .forms-group .last {
    width: 22%;
  }
}

@media screen and (max-width: 768px) {
  .forms-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .forms-group form {
    width: 98%;
    padding: 5px 10px;
  }
  .forms-group form input {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .forms-group .btn {
    width: 48%;
  }
  .forms-group .last {
    width: 98%;
  }
}
