a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #d7d9d9;
}

nav {
  background-color: #f85c50;
  height: 40px;
  padding-top: 16px;
  color: #f1f2f2;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

button {
  cursor: pointer;
}

.left {
  float: left;
  font-size: 1.35rem;
  padding-left: 1.35rem;
  margin-top: -10px;
}

.left a {
  margin-top: 10px;
  display: inline-block;
  height: 100%;
  position: relative;
  padding-left: 32px;
}

.left a i {
  margin-right: 10px;
  font-size: 1.8rem;
  position: absolute;
  top: -2px;
  left: 0;
}

.right {
  float: right;
  padding-top: 4px;
}

.right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.right ul li {
  margin-right: 15px;
  position: relative;
  padding-left: 20px;
}

.right ul li i {
  margin-right: 5px;
  position: absolute;
  top: 2px;
  left: 0;
}

.header {
  width: 100%;
  height: 500px;
  margin-top: 56px;
  background-image: url(/assets/img/white.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
}

.header-centent {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
}

.header-centent h1 {
  color: #f1f2f2;
  font-size: 2rem;
  padding-bottom: 10px;
}

.nav-form {
  background-color: rgba(241, 242, 242, 0.6);
  width: 50%;
  text-align: left;
  margin: 0 auto;
  border-radius: 10px;
  padding: 10px 10px 50px 10px;
}

.nav-form label {
  display: block;
  padding: 20px 0;
}

.nav-form input {
  width: 80%;
  height: 30px;
  padding-left: 10px;
  font-size: 18px;
}

.nav-form button {
  height: 34px;
  border: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: -5px;
  font-size: 18px;
  background-color: #f85c50;
  color: #f1f2f2;
}

.how-work {
  padding: 10px;
  margin-top: 10px;
  background-color: #f1f2f2;
  display: inline-block;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 20px;
  text-align: center;
}

section h1 {
  width: 100%;
  font-size: 1.35rem;
  color: #f85c50;
  padding-bottom: 20px;
}

.steps {
  width: 49%;
  padding: 40px 0;
}

.steps i {
  font-size: 50px;
  padding: 20px;
}

.steps h1 {
  color: black;
  padding: 20px;
  width: auto;
}

.steps p {
  width: 60%;
  font-size: 1.35rem;
  margin: 0 auto;
}

.two-fr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.two-fr .text {
  margin-top: 10%;
  margin-left: 10%;
}

.two-fr .text h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 5px;
}

.two-fr .text p {
  padding: 10px 0;
  font-size: 1.35rem;
}

.two-fr img {
  width: 300px;
  border-radius: 50%;
  height: 300px;
  margin: 10px 0;
}

.first-div {
  width: 100%;
  color: #f1f2f2;
  background-color: #f85c50;
}

.first-div a {
  color: #f85c50;
}

.second-div {
  width: 100%;
  color: #f1f2f2;
  background-color: #58595b;
}

.second-div a {
  color: black;
}

.third-div {
  width: 100%;
  background-color: #5199ff;
}

.phone-screen img {
  border-radius: 50px 50px 0 0;
}

footer {
  width: 100%;
  background-color: black;
  color: #f1f2f2;
  text-align: center;
}

.footer-links {
  width: 100%;
  text-align: center;
}

.footer-links ul {
  display: inline-block;
  border-top: 1px solid #f1f2f2;
  border-bottom: 1px solid #f1f2f2;
  padding: 10px 0;
}

.footer-links ul li {
  display: inline-block;
  padding: 0 6px;
}

.footer-links ul li a {
  color: inherit;
}

.footer-links ul li a:hover {
  color: #bcc1c1;
}

.footer-links ul .last-left {
  padding-left: 12px;
}

.footer-links ul .last-right {
  padding-right: 12px;
}

.footer-links span {
  padding: 20px;
  border: 1px solid #f1f2f2;
  border-radius: 50%;
  margin: 0 -10px;
}

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.footer-flex-div {
  width: 33%;
}

.footer-flex-div h1 {
  margin-bottom: 10px;
}

.submit-email input {
  background-color: transparent;
  border: 1px solid gray;
  color: gray;
  padding: 2px;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60%;
}

.submit-email button {
  background-color: gray;
  color: #f1f2f2;
  border: 1px solid gray;
  padding: 4px 20px 0;
  font-weight: bolder;
  height: 28px;
  margin-left: -4px;
}

@media screen and (max-width: 1024px) {
  .tablet-hidden {
    display: none;
  }
  .nav-form {
    width: 70%;
  }
  .steps {
    width: 98%;
  }
  .steps p {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    text-align: center;
    height: 70px;
  }
  .left,
  .right {
    float: none;
    padding-left: 0;
  }
  .right ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30px;
    margin-top: 10px;
  }
  .right ul li {
    margin-right: 8%;
  }
  .right ul li:last-child {
    margin-right: 0;
  }
  .header {
    height: 100vh;
    margin-top: 86px;
  }
  .nav-form {
    width: 90%;
  }
  .nav-form input {
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 10px;
  }
  .nav-form button {
    width: 95%;
    margin-left: 0;
  }
  .two-fr {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .two-fr .text {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }
  .two-fr .text h1 {
    font-size: 1.5rem;
  }
  .two-fr .text p {
    padding: 10px 0;
    font-size: 1.35rem;
  }
  .two-fr img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .image-prefooter {
    margin: 10px auto;
  }
  .footer-links ul {
    display: block;
  }
  .footer-links ul .last-left {
    padding-left: 6px;
  }
  .footer-links ul .last-right {
    padding-right: 6px;
  }
  .footer-links span {
    padding: 20px;
    background-color: black;
    border-radius: 50%;
    margin: -10px 0;
  }
  .footer-flex-div {
    width: 99%;
  }
  .submit-email input {
    width: 95%;
  }
  .submit-email button {
    margin-top: 5px;
    margin-left: 0;
    width: 95%;
  }
}
